
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}


header {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(88, 126, 88);
    color: black;
}


section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #d3d3d3;
    
}

footer {
    grid-column: span 2;
    text-align: center;
    padding: 15px;
    background-color: rgb(36, 33, 33);
    color: aliceblue;
    border-top: 2px solid #ccc;
}



h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    color: rgb(0, 0, 0);
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
}




@media (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    section {
        padding: 10px;
    }
}